body {
    margin: 0;
}

.full-width {
    width: 100%;
}

/*
.mat-input-placeholder {
    color: white !important;
}

.mat-input-underline {
    border-color: lightgray;
}

.mat-input-underline .mat-input-ripple {
    background-color: lightgray;
}*/
